<div class="row">
    <div class="column"></div>
    <div class="column">
        <h1> Possible questions: </h1>
        <p> Where is she from? </p>
        <p> How old is she? </p>
        <p> What is she like? </p>
        <p> What is her nickname? </p>
        <p> What’s her favorite food?</p>
        <p> What’s her favorite netflix program?</p>
        <p> How many siblings does she have? How old are they?</p>
        <p> Which pets does she have?</p>
        <p> Where does she go with her family on vacation?</p>
        <p> Where does he live?</p>
        <p> What is it Like?</p>
        <p> Who takes care of the house?</p>
    </div>
    <div class="column column-40">
        <h1>Robots conversational game</h1>
        <iframe width="100%" height="70%" src="https://console.dialogflow.com/api-client/demo/embedded/chatbot-women">
        </iframe>
        <!-- <chat-dialog></chat-dialog> -->
    </div>
    <div class="column">
        <img src="/../../assets/robots.png" />
        <img src="/../../assets/robots2.png" />
    </div>
    <div class="column"></div>
</div>